# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Cupcake model files
* Cupmodel:
* cupcake_* = potje
* cake_* = cupcake/ijs-bovenkant
* cherry_* = kers en steeltje


# cone model files
Cone model:
- IceCream_3_1 = cone
- IceCream_3_2 = sprinkels
- IceCream_3_3 = scoop